.displays {
    border-top: 5px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    margin: auto auto;
    /* align-items: center; */
    align-self:auto;
    justify-content: center;
    /* border: none; */

    background-size: 100% 100%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
  
.display-image {
    width: 50px;
    height: 50px;
}
  
.hovered {
    transform: scale(1.1);
}
  
.clicked {
    transform: scale(1.2);
}
.textbox.arrow-active,
.upArrowTip.arrow-active,
.downArrowTip.arrow-active,
.downArrowBase.arrow-active,
.upArrowBase.arrow-active{
    opacity: 1;
    
    transition: opacity 1s ease-in;
    
}
.downArrowBase{

    opacity: 0;
    transition: visibility 1s ease-in, opacity 1s ease-in;
    width:25px;
    height: 25px;
    background-color: black;
    border-radius: 40px 40px 0% 0%;
    transform: translate(466%);
    

}
  

.textbox {
    
    transition: opacity 2s ease-in;
    opacity: 0;
    width: 150px;
    display: flex;
    align-items: start;
    justify-content: center;
    background: radial-gradient(#FBD72B, #F9484A);
    
    /* border: 1px solid blue; */
    transform: translate(55px);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
  
.hovered {
    background-color: blue;
    color: white;
}
  






.upArrowBase{
    opacity: 0;
    transition: opacity 1s ease-in;
    width:25px;
    height: 25px;
    background-color: black;
    border-radius: 0px 0px 40px 40px;
    transform: translate(466%);

}
.downArrowTip{
    opacity: 0;
    transition: opacity 1s ease-in;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 35px solid black;
    transform: translate(213%);
}
.upArrowTip{
    opacity: 0;
    transition: opacity 1s ease-in;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 35px solid black;
    transform: translate(213%);
}
.upButtonText{
    display: grid;
    
    grid-template-rows: 130px 35px 25px 120px;
    grid-template-columns: auto;
    justify-items: left ;
    
    
    row-gap: 0px;

}
.downButtonText{
    display: grid;
    grid-template-rows: 120px 25px 35px 150px;
    grid-template-columns: auto;
    justify-items: left ;
    
    row-gap: 0px;

}

.timeLine{
    /* background-color: black; */
    display: grid;
    grid-template-columns: 20vw 7vw 20vw 7vw 20vw 6vw ;
    grid-template-rows: 50vh 50vh
}

.top-bar{
    display: flex;
    width: 7vw;
    height: 3vw;
    background-color: blue;
    border-radius: 40px 40px 40px 40px;
    margin-top: 50px;
}
.bottom-bar{
    display: flex;
    
    width: 7vw;
    height: 3vw;
    background-color: blue;
    border-radius: 40px 40px 40px 40px;
    justify-content: end;
    margin-top:235px;
}

.diagonal-bar{
    
    display: flex;
    height:10vw;
    height:3vw;
    background: blue;
    border-radius: 40px 40px 40px 40px;

    margin-top: 170px;
    transform: rotate(60deg);
}
.diagonal-bar-bottom{
    
    display: flex;
    height:10vw;
    height:3vw;
    background: blue;
    border-radius: 40px 40px 40px 40px;

    margin-top: 130px;
    transform: rotate(-60deg);
}

